$color_1: var(--text);
$color_2: #796bce;
$background-color_1: var(--background);
$background-color_2: white;
$background-color_3: var(--main);

:root {
    --main: #9685ff;
    --h3: rgb(128, 125, 149);
    --background: rgb(248, 248, 248);
    --text: #03000e;
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projects-section {
    width: 100%;
    max-width: 100%;
    background-color: $background-color_1;

    h1 {
        text-align: center;
        padding-top: 2em;
        font-size: 32px;
        font-weight: bolder;
    }
}

.projects-container {
    width: 100%;
    padding: 3em;
}

.projects-list {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2vw;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 37%;
    height: 40em;
    overflow: hidden;

    a {
        width: 100%;
        height: 100%;
    }
}

.item-top {
    height: 70%;
    width: 100%;
    overflow: hidden;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.item-caption {
    width: 100%;
    height: 30%;
    background-color: $background-color_2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;

    h2 {
        font-size: 26px;
        font-weight: 700;
        color: $color_1;
    }

    p {
        font-size: 20px;
        font-weight: 700;
        width: fit-content;
        color: $color_2;
        position: relative;
        padding-bottom: 3px;

        &::after {
            content: "";
            width: 0%;
            height: 2px;
            border-radius: 99px;
            background-color: $background-color_3;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.3s ease;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .item-caption {
        h2 {
            font-size: 22px;
        }

        p {
            font-size: 18px;
        }
    }

    .projects-list {
        gap: 6vh;
    }

    .project-item {
        width: 100%;
    }
}