@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main: #9685ff;
    --h3: rgb(128, 125, 149);
    --background: rgb(248, 248, 248);
    --text: #03000e;
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
                                    .mail svg [data-color="1"] {
                                        fill: #000000;
                                    }
        
                                    .mail svg {
                                        width: 24px;
                                        height: 14px;
                                    }
        
                                    .mail:hover svg [data-color="1"] {
                                        fill: #9685ff;
                                    }

body {
    font-family: "Questrial";
    letter-spacing: .1em;
    background-color: rgb(243, 243, 243);
}

/*making the animation*/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .6s ease-in-out;
}

.animation {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    animation: animate 0.6s ease-in-out forwards;
}

@keyframes animate {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* End animation */

/* ===================header========================== */
.header {
    /* height: 4em; */
    width: 100%;
    background-color: var(--background);
    /* max-height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: #03000; */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed;
    width: 100%; */
    margin-right: 2vw;
}

.nav ul {
    --padding: 26px;
    --font-size: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--background);
    overflow-y: hidden;
    transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
}

.nav ul li {
    padding: var(--padding);
}

.nav ul li a {
    color: var(--text);
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
}

.nav ul li a::after {
    content: "";
    width: 0%;
    height: 1.7px;
    border-radius: 99px;
    background: var(--main);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.nav ul li.active a::after,
.nav ul li:hover a::after {
    width: 100%;
}

.nav .menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

.nav .menu span {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: black;
    transition: 0.3s ease;
    transform-origin: left;
}

.nav .menu.active span {
    background: var(--main);
}

.nav .menu.active span:nth-child(1) {
    transform: rotate(40deg);
}

.nav .menu span:nth-child(3) {
    transform-origin: left;
}

.nav .menu.active span:nth-child(3) {
    transform: rotate(-40deg);
}

.nav .menu.active span:nth-child(2) {
    transform: scale(0);
}


/* =====================scroll up n down========================== */

.go-down-top-container {
    position: fixed;
    right: 100px;
    bottom: 133px;
    display: flex;
    background-color: var(--main);
    width: 2em;
    height: 2em;
    padding: 1.5em;
    border-radius: 50%;
    justify-content: center;
    box-shadow: var(--shadow);
    align-items: center;
    z-index: 99;
}

.go-down-top {
    position: relative;
}

.go-down-top-container:hover {
    cursor: pointer;
}

.go-down::after {
    color: var(--text);
    content: var(--arrow-content, '\02193');
    font-size: 30px;
    position: absolute;

}

.go-down-top:after {
    color: var(--text);
    content: var(--arrow-content, '\02193');
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -6px;

}

.go-down-top.changed:after {
    content: var(--changed-arrow-content, '\02191');

}

.go-down-top:hover,
.go-down:hover {
    stroke-dashoffset: 0;
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-4px);
    }
}

.go-down-top:hover:after,
.go-down:after {
    animation: arrow-bounce 0.5s infinite alternate ease-out;
}


/* =============================footer======================== */
.footer {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 2em;
    bottom: 0;
    position: relative;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3em;
}

.name a {
    font-weight: 900;
    color: var(--text);
    text-underline-position: under;
    text-decoration: underline;
}

.name a:hover {
    color: var(--main);
}

.icons .mail {
    transform: translate(0, .1em);
}

.linkedin-link wow-image {
    filter: brightness(0%) sepia(100%) saturate(0%) hue-rotate(0deg);
}

.linkedin-link:hover wow-image {
    filter: invert(50%) sepia(100%) saturate(5000%) hue-rotate(240deg);
}

/* =========================media qut=============================== */
@media (max-width: 910px) {
    .nav .menu {
        display: flex;

    }

    .nav {
        align-items: center;
        justify-content: flex-end;
    }

    nav ul {
        --height: 0px;

        flex-direction: column;
        /* background: var(--nav-bg); */
        position: absolute;
        width: 100%;
        left: 0;
        top: 56px;
        height: var(--height);
        transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    nav ul.active {
        --height: calc((((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber));
        /*   (Block Level Padding + The Font Size) * The Number of Children   */
        transition: 1s ease;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: small;
    }

    .go-down-top-container {
        right: 23px;
    }

}