:root {
    --main: #9685ff;
    --h3: rgb(128, 125, 149);
    --background: rgb(248, 248, 248);
    --text: #03000e;
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.work-section {
    width: 100%;
    max-width: 100%;
    background-color: var(--background);
    padding-bottom: 3em;
}

.work-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    width: 50%;
    height: auto;
}

.work-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 100vh;
}

.work-item .left {
    width: 50%;
    height: 100vh;
    background-color: var(--main);
}

.work-item .right {
    overflow-y: scroll;
    padding: 2em;
    max-height: 100vh;
    width: 50%;
    height: 100%;

}

.work-item .right::-webkit-scrollbar {
    display: none;
}

.right h1 {
    line-height: 7vh;
    font-size: 32px;
}

.right h3 {
    color: var(--h3);
    font-size: 22px;
}

/* Add any additional styling as needed */

@media (max-width: 478px) {

    .work-container {
        flex-direction: column;
    }

    .work-item {
        max-height: 100%;
        flex-direction: column;
    }

    .work-item .left {
        width: 100%;
        height: auto;
    }

    .work-item .right {
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: hidden;
        max-height: 100%;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}